<app-head
  [title]="'Sign Up for Shortify'"
  [description]="
    'Create your Shorti.fy account to shorten, track, and manage URLs securely. Enjoy custom links, analytics, password-protected URLs, and more.'
  "
  [keywords]="
    'Shorti.fy, URL shortener, sign up, create account, secure links, custom URLs, link analytics, password protected links'
  "
/>

<app-authentication>
  <form
    (submit)="$event.preventDefault(); handleRegister()"
    class="w-full max-w-md bg-white shadow-lg rounded-lg p-6 sm:p-8 mx-4 sm:mx-auto space-y-4"
  >
    <div class="space-y-1 text-center">
      <h1 class="text-2xl sm:text-3xl text-gray-700 font-bold">Create a new account</h1>
      <small class="text-sm text-gray-600">It’s quick and easy.</small>
    </div>

    <hr class="text-gray-500" />

    <div class="flex flex-col">
      <label class="mb-1 text-gray-700 font-medium">Full Name</label>
      <input
        [formField]="registerForm.fullName"
        type="text"
        placeholder="Ex. John Doe"
        class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div class="flex flex-col">
      <label class="mb-1 text-gray-700 font-medium">Username</label>
      <input
        [formField]="registerForm.username"
        type="text"
        placeholder="Ex. malopit123"
        class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div class="flex flex-col">
      <label class="mb-1 text-gray-700 font-medium">Email</label>
      <input
        [formField]="registerForm.email"
        type="email"
        placeholder="Ex. lopit@gmail.com"
        class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div class="flex flex-col">
      <label class="mb-1 text-gray-700 font-medium">Password</label>
      <input
        [formField]="registerForm.password"
        type="password"
        placeholder="Enter a strong password"
        class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div class="flex flex-col">
      <label class="mb-1 text-gray-700 font-medium">Confirm Password</label>
      <input
        [formField]="registerForm.confirmPassword"
        type="password"
        placeholder="Confirm your password"
        class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <button
      class="w-full bg-blue-600 text-white py-2 rounded-md font-semibold hover:bg-blue-700 transition"
    >
      Create Account
    </button>

    <p class="text-center text-gray-600 text-sm mt-4">
      Already have an account?
      <a routerLink="" class="text-blue-600 hover:underline font-medium">Login</a>
    </p>
  </form>
</app-authentication>
